@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "poppins", sans-serif;
}

.swal2-title {
  color: #44403c;
  font-weight: 800;
}

.swal2-confirm {
  background-color: white !important;
  color: black !important;
  border: solid 1px black !important;
  box-shadow: none !important;
  border-radius: 99px !important;
}

.swal2-confirm:hover {
  background-color: #fb923c !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 99px !important;
  font-weight: 800;
}

.swal2-cancel {
  border-radius: 25px !important;
}

.swal2-popup {
  border-radius: 25px !important;
}

.swal2-icon {
  color: #fb923c !important;
  border-color: #fb923c !important;
}

html {
  scroll-behavior: smooth;
}
